
.card{
  width:300px;
  padding:40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-10px);
}
.profile-img{
    width:120px;
    height:120px;
    background: linear-gradient(45deg, #6a11cb, #b47fc2);
    border-radius:50%;
    margin-bottom:20px;
}
body {
   
    background: linear-gradient(135deg, #e0e5ed 0%, #c3cfe2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
}
.a{
    color: #100130;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: color 0.3s ease;
}
.a:hover{
    color: #4936a5b8;
}
h1{
    color: #bb0dbb90;
    font-family: 'Script', 'cursive';
    text-transform: uppercase;
}
p{
    color: #501a96;    

}